/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/tavern.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header nav {

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    background: none;
    border-bottom: 1px solid rgb(248, 208, 122);
}

header nav button {
    width: 100px;
    height: 50px;

    font-size: 1.5rem;
    background: none;
    border: none;
    color: rgb(241, 221, 176);
    font-weight: bold;
    transition: all 0.2s ease;

}

header nav button:hover {
    transform: scale(1.5);
    color: rgb(245, 238, 223);
}

.home-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;

}

.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 70px;
}

.menu-tab {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact-container,
.menu-container {
    display: flex;
    width: 600px;
    height: 600px;
    gap: 15px;
    padding: 20px;
    background-color: rgb(161, 89, 48, 0.5);
    border-radius: 15%;
    border: 1px solid orange;
    backdrop-filter: blur(10px);
}

.menu-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}





.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;

}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}



.card-title,
.card-text {
    color: #f1ddb0;

}

.card-title {
    font-size: 1.2rem;
    width: 100%;
    border-bottom: 2px solid orange;
    text-align: center;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1.3rem;
    text-align: center;

}


.contact-tab {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact-container {
    flex-direction: column;
    justify-content: center;
    padding: 75px;
    line-height: 1;

}



.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    height: 100px;
}

.contact-container h2 {
    font-size: 2rem;
    color: #f1ddb0;
    text-align: center;
}

.contact-info i {
    width: 30px;
    height: 30px;
    font-size: 2rem;

}

.contact-info p {

    font-size: 1.3rem;
    color: orange;
}