/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./images/tavern.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header nav {

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    background: none;
    border-bottom: 1px solid rgb(248, 208, 122);
    position: fixed;
}

header nav button {
    width: 100px;
    height: 50px;

    font-size: 1.2rem;
    background: none;
    border: none;
    color: rgb(241, 221, 176);
    font-weight: bold;

}

header nav button:hover {
    width: 120px;
    height: 75px;
    color: rgb(245, 238, 223);
}

.home-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 250px;
    height: 250px;
}